.logged-in-homepage-wrapper{
	background-color: #242825;
	min-height: 100vh;
	display: flex;
}

.select-wrapper{
	width: 20%;
	max-width: 20%;
	margin-top: 80px;
	margin-left: 15px;
	text-align: center;
}

.select-and-icon{
	display: flex;
	margin-top: 50px;
}

.input-date {
	border-radius: 10px;
    box-shadow: 4px 4px rgb(0 178 155 / 60%);
	font-weight: 500;
	font-family: Verdana;
	text-align: end ;
}

select {
	border-radius: 10px;
    box-shadow: 4px 4px rgb(0 178 155 / 60%);
	font-weight: 500;
	font-family: Verdana;
	text-align: center;
}