.profile-layer{
    padding-top: 74px;
    font-weight: bolder;
    background-color: #242825; 
    display: flex;
    min-height: 35vh;
    width: 100%;
}

/*so com este ele nao muda o tamanho mas nao sei bem dps dimensionar a coisa*/
.avatar-container{
    height: 170px;
    width: 170px;    
    min-height: 170px;
    min-width: 170px;    
    border-radius: 100%;
    overflow: hidden;
    margin-left: 70px;
    margin-top: 35px;
    background-color: rgb(255,255,255,0.2);
}

.avatar{
    height: 170px;
    width: 170px;       
    border-radius: 100%;
    overflow: hidden;
}

.player-info-container{
    color:white;
    margin-left: 30px;
    margin-right: -40px;
    padding-top: 10px;
    display: flex;
}

.profile-options-container{
    margin-left: 54.5px;
    background: rgba(35, 40, 37, 0.6);
    z-index: 1;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 55px;
}

#trapezoid {
    border-bottom: 281px solid rgb(0, 178, 155);
    border-left: 155px solid transparent;
    border-right: 0px solid transparent;
    margin-left: 85px;
    width: 1036.1px;
    height: 100%;
    margin-right: -110px;
    z-index: 0;
   /*url("https://twitter.com/hazardeden10");*/
}

.profile-match-container{
    color:white
}

.profile-friends-container{ 
    display: flex;
    flex-wrap: wrap;
}

.profile-friend-container{
    color: rgb(0, 178, 155);
    display: flex;
    flex: 1 0 21%;
    max-width: 390px;
    justify-content: space-between;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 15px -1px;
}

.friend-avatar{
    height: 60px;
    width: 60px;       
    border-radius: 100%;
    padding: 0px 15px 0px;
    margin-left: -10px;
}

.profile-match-container {
    display: flex;
    border-left: 3px solid rgb(0, 178, 155);
    border-right: 3px solid rgb(0, 178, 155);
    width: max-content;
    padding: 0px 15px;
    margin-right: 20px;
    min-width: 200px;
}

.test{
    color: white;
    display: flex;
    flex: 1 0 21%;
    max-width: 390px;
    justify-content: space-between;
    border-left: 1px solid rgb(0, 178, 155);
    border-right: 1px solid rgb(0, 178, 155);
    padding: 0px 15px 0px 15px;
    margin: 0px 0px 15px -1px;
}

.profile-matches-container {
    display: flex;
}

.profile-match-text-wrapper {
    padding: 0px 15px 0px 0px;
    min-width: 200px;
}

.profile-single-container {
    display: flex;
    align-items: center;
    width: 250px;
}