.global-wrapper {
	background-color: #242825;
	min-height: 100vh;
	text-align: -webkit-center;
}

.logo-register {
	height: 100px;
	width: 178px;
	margin-top: -45px;
}

.header-register {
	font-weight: 700;
	font-size: 50px;
	margin-top: -10px;
	color: white;
	margin-bottom: 10px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -10px;
}